<!DOCTYPE html>
<html>
<head>
	<title>Analysis of Dangerous Crimes</title>

	<!-- Load Leaflet -->
    <link 
        rel="stylesheet" 
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

    <!-- load c3 and d3 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="static/frid_morning.js?version=43094409"></script>
	<script type="text/javascript" src="static/frid_afternoon.js?version=4309438984"></script>
	<script type="text/javascript" src="static/frid_evening.js?version=54890890984"></script>
	<script type="text/javascript" src="static/frid_night.js?version=3099089098"></script>
	<script src="static/index.js?version=467"></script>
	<link href="/static/style.css?version=439826498089890" rel="stylesheet">
    
</head>
<body>

	<h3>Info on Districts</h3>

	<div id="mapid" style="width: 900px; height: 700px"></div>
	<h2>Predicted Amount of Crimes</h2>
	<form>
	<label>District: </label>
		<select id="district" name="district" required>
		<option value="A1">Downtown</option>
		<option value="A15">Charleston</option>
		<option value="A7">East Boston</option>
		<option value="B2">Roxbury</option>
		<option value="B3">Mattapan</option>
		<option value="C6">South Boston</option>
		<option value="C11">Dorchester</option>
		<option value="D4">South End</option>
		<option value="D14">Brighton</option>
		<option value="E5">West Roxbury</option>
		<option value="E13">Jamaica Plain</option>
		<option value="E18">Hyde Park</option>
		</select>
	</br>
	<label>Type of Crime: </label>
		<select id="crime" name="crime" required>
		<option value="Larceny">Larceny</option>
		<option value="Manslaughter">Manslaughter</option>
		<option value="Rape.Sexual_Assault">Rape/Sexual Assault</option>
		<option value="Assault.Battery">Assault/Battery</option>
		<option value="Kidnapping">Kidnapping</option>
		<option value="Burglary">Burglary</option>
		<option value="Bombs.Explosives">Bombs/Explosives</option>
		<option value="Harassment">Harassment</option>
		<option value="Weapons">Weapons</option>
		<option value="Arson">Arson</option>
		<option value="Breaking_and_Entering">Breaking and Entering</option>
		<option value="Child_Abuse.Endangerment">Child Abuse/Endangerment</option>
		<option value="Disorderly_Conduct">Disorderly Conduct</option>
		<option value="Public_Drinking">Public Drinking</option>
		</select>
	</br>
	<label>Day of Week: </label>
		<select id="day" name="day" required>
		<option value="1">Sunday</option>
		<option value="2">Monday</option>
		<option value="3">Tuesday</option>
		<option value="4">Wednesday</option>
		<option value="5">Thursday</option>
		<option value="6">Friday</option>
		<option value="7">Saturday</option>
		</select>

	<input type="button" value="Submit" id="submit" onClick="postPrediction()">

	</form>



	<div id="chart1"></div>

	<script type="text/javascript">

		var chart = c3.generate({
		    data: {
		        columns: [
		        ],
			        type: 'bar'
			    },
			    bar: {
			        width: {
			            ratio: 0.5 // this makes bar width 50% of length between ticks
			        }
			        // or
			        //width: 100 // this makes bar width 100px
			    },
			    bindto: '#chart1'
			});

		function postPrediction() {
			var http = new XMLHttpRequest();
		    var url = "http://localhost:5000/get_prediction/" + document.getElementById("district").value + "/" + document.getElementById("crime").value + "/" + document.getElementById("day").value;
		    http.open("GET", url, true);
		    http.setRequestHeader("Content-type", "application/json");
		    http.onreadystatechange = function() {
		      if (http.readyState == 4 && http.status == 200) {
		      	var data = JSON.parse(http.responseText).results;
		      	chart.load({
				    columns: [
				        data
				    ]
				});
		        console.log(data);
		      }
		    }
		    http.send();

		}
		

	</script>

	<h2>Predicted Probability of Crimes</h2>
	<form>
	<label>District: </label>
		<select id="district2" name="district2" required>
		<option value="A1">Downtown</option>
		<option value="A15">Charleston</option>
		<option value="A7">East Boston</option>
		<option value="B2">Roxbury</option>
		<option value="B3">Mattapan</option>
		<option value="C6">South Boston</option>
		<option value="C11">Dorchester</option>
		<option value="D4">South End</option>
		<option value="D14">Brighton</option>
		<option value="E5">West Roxbury</option>
		<option value="E13">Jamaica Plain</option>
		<option value="E18">Hyde Park</option>
		</select>
	</br>
	<label>Type of Crime: </label>
		<select id="crime2" name="crime2" required>
		<option value="Larceny">Larceny</option>
		<option value="Manslaughter">Manslaughter</option>
		<option value="Rape.Sexual_Assault">Rape/Sexual Assault</option>
		<option value="Assault.Battery">Assault/Battery</option>
		<option value="Kidnapping">Kidnapping</option>
		<option value="Burglary">Burglary</option>
		<option value="Bombs.Explosives">Bombs/Explosives</option>
		<option value="Harassment">Harassment</option>
		<option value="Weapons">Weapons</option>
		<option value="Arson">Arson</option>
		<option value="Breaking_and_Entering">Breaking and Entering</option>
		<option value="Child_Abuse.Endangerment">Child Abuse/Endangerment</option>
		<option value="Disorderly_Conduct">Disorderly Conduct</option>
		<option value="Public_Drinking">Public Drinking</option>
		</select>
	</br>
	<label>Day of Week: </label>
		<select id="day2" name="day2" required>
		<option value="1">Sunday</option>
		<option value="2">Monday</option>
		<option value="3">Tuesday</option>
		<option value="4">Wednesday</option>
		<option value="5">Thursday</option>
		<option value="6">Friday</option>
		<option value="7">Saturday</option>
		</select>

	<input type="button" value="Submit" id="submit" onClick="postProbability()">

	</form>

	<div id="chart2"></div>

	<script type="text/javascript">
		var chart2 = c3.generate({
		    data: {
		        columns: [
		        ],
			        type: 'bar'
			    },
			    bar: {
			        width: {
			            ratio: 0.5 // this makes bar width 50% of length between ticks
			        }
			        // or
			        //width: 100 // this makes bar width 100px
			    },
			    bindto: '#chart2'
			});


		function postProbability() {
			var http = new XMLHttpRequest();
		    var url = "http://localhost:5000/get_probability/" + document.getElementById("district2").value + "/" + document.getElementById("crime2").value + "/" + document.getElementById("day2").value;
		    http.open("GET", url, true);
		    http.setRequestHeader("Content-type", "application/json");
		    http.onreadystatechange = function() {
		      if (http.readyState == 4 && http.status == 200) {
		      	var data = JSON.parse(http.responseText).results;
		      	chart2.load({
				    columns: [
				        data
				    ]
				});
		        console.log(data);
		      }
		    }
		    http.send();

		}

	</script>


</body>
</html>