<!DOCTYPE html>
<html>
<head>
	<title>Analysis of Dangerous Crimes</title>

	<!-- Load Leaflet -->
    <link 
        rel="stylesheet" 
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script
        src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>

    <!-- load c3 and d3 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

    
</head>
<body>

	<h3>Info on Districts</h3>

	<div id="map" style="width: 600px; height: 400px"></div>

	<script type="text/javascript">

		var map = L.map('map').setView([42.360413, -71.057620], 12);
			mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';

	
        // L.tileLayer(
        //     'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        //     attribution: '&copy; ' + mapLink + ' Contributors',
        //     maxZoom: 18,
        //     });
		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

        // var service = L.marker([42.35000, -71.057620]).bindPopup('How do i get rid');
        // var denver  = L.marker([42.360413, -71.057620]).bindPopup('This is Denver, CO.');

		// // var services = L.layerGroup([service, denver]);

		// console.log([service, denver]);

				
		/* Initialize the SVG layer */
		map._initPathRoot()    
	</script>

	<h2>Information on Crimes</h2>
	<form>
	<label>District: </label>
		<select id="district" name="district" required>
		<option value="A1">Downtown</option>
		<option value="A15">Charleston</option>
		<option value="A7">East Boston</option>
		<option value="B2">Roxbury</option>
		<option value="B3">Mattapan</option>
		<option value="C6">South Boston</option>
		<option value="C11">Dorchester</option>
		<option value="D4">South End</option>
		<option value="D14">Brighton</option>
		<option value="E5">West Roxbury</option>
		<option value="E13">Jamaica Plain</option>
		<option value="E18">Hyde Park</option>
		</select>
	</br>
	<label>Type of Crime: </label>
		<select id="crime" name="crime" required>
		<option value="Larceny">Larceny</option>
		<option value="Manslaughter">Manslaughter</option>
		<option value="Drving_Under_the_Influence">Driving Under the Influence</option>
		<option value="Rape.Sexual_Assault">Rape/Sexual Assault</option>
		<option value="Assault.Battery">Assault/Battery</option>
		<option value="Kidnapping">Kidnapping</option>
		<option value="Burglary">Burglary</option>
		<option value="Bombs.Explosives">Bombs/Explosives</option>
		<option value="Harassment">Harassment</option>
		<option value="Drugs">Drugs (selling)</option>
		<option value="Weapons">Weapons</option>
		<option value="Arson">Arson</option>
		<option value="Breaking_and_Entering">Breaking and Entering</option>
		<option value="Child_Abuse.Endangerment">Child Abuse/Endangerment</option>
		<option value="Disorderly_Conduct">Disorderly Conduct</option>
		<option value="Public_Drinking">Public Drinking</option>
		</select>
	</br>
	<label>Day of Week: </label>
		<select id="day" name="day" required>
		<option value="1">Sunday</option>
		<option value="2">Monday</option>
		<option value="3">Tuesday</option>
		<option value="4">Wednesday</option>
		<option value="5">Thursday</option>
		<option value="6">Friday</option>
		<option value="7">Saturday</option>
		</select>

	<input type="button" value="Submit" id="submit" onClick="postPrediction()">

	</form>



	<div id="chart"></div>

	<script type="text/javascript">

		var chart = c3.generate({
		    data: {
		        columns: [
		        ],
			        type: 'bar'
			    },
			    bar: {
			        width: {
			            ratio: 0.5 // this makes bar width 50% of length between ticks
			        }
			        // or
			        //width: 100 // this makes bar width 100px
			    }
			});

		function postPrediction() {
			var http = new XMLHttpRequest();
		    var url = "http://localhost:5000/get_prediction/" + document.getElementById("district").value + "/" + document.getElementById("crime").value + "/" + document.getElementById("day").value;
		    http.open("GET", url, true);
		    http.setRequestHeader("Content-type", "application/json");
		    http.onreadystatechange = function() {
		      if (http.readyState == 4 && http.status == 200) {
		      	var data = JSON.parse(http.responseText).results;
		      	chart.load({
				    columns: [
				        data
				    ]
				});
		        console.log(data);
		      }
		    }
		    http.send();

		}
		

	</script>


</body>
</html>